
.user-row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 15px 9px;
    box-shadow: 0 12px 9px -6px #cecece;
    position: relative;
    flex-wrap: wrap;
    @media ($bp-larger-than-tablet) {
        flex-wrap: nowrap;
    }
    &:hover{
        background-color: #eaeaea;
    }
    & + .user-row{
        border-top: 1px solid #cecece;
    }
    &__info{
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 15px;
        @media ($bp-larger-than-tablet) {
            margin-bottom: 0;
        }
    }
    &__image{
        img{
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }
    &__name{
        padding: 0 15px;
        width: 100%;
    }
    &__meta{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
        @media ($bp-larger-than-tablet) {
            margin-bottom: 0;
            width: auto;
            padding-left: 0;
        }
    }
    &__age{
        flex-shrink: 0;
        white-space: nowrap;
        font-size: 14px;
        @media ($bp-larger-than-mobile) {
            width: 80px;
            font-size: 16px;
        }
        @media ($bp-larger-than-tablet) {
            margin-left: 0;
            width: 150px;
        }
    }
    &__phone{
        flex-shrink: 0;
        white-space: nowrap;
        font-size: 14px;
        @media ($bp-larger-than-mobile) {
            width: 170px;
            font-size: 16px;
        }
        @media ($bp-larger-than-tablet) {
            width: 220px;
        }
    }
    &__favourite{
        width: 30px;
        flex-shrink: 0;
        &.active{
            .fa{
                opacity: 1;
                &:before{
                    color: $brand-color-light;
                }
            }
        }
        .fa{
            transition: $cubic;
            cursor: pointer;
            &:before{
                transition: $cubic;
                color: $brand-color;
            }
        }
    }
}
