.home {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [left] 20vw [center] 50vw [right] 20vw;
    justify-content: center;
    & > div {
        margin-top: 10px;
    }
}

.remove-btn {
    margin-right: 0.5rem;
}
.item-enter {
    opacity: 0;

}
.item-enter-active {
    opacity: 1;
    transition: all 300ms ease-in;

}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: all 300ms ease-in;
}
.item-appear {
    opacity: 0.01;
}

.item-appear.item-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
