// Globals ============================
body {
    font-family: 'Montserrat', sans-serif;
    background-color: $bg-default;
}
*{
    box-sizing: border-box;
}

.btn {
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    position: relative;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0 none;
}

.btn-primary{
    background-color: #fafafa;
    color: #222;
    &:hover{
        background-color: $brand-color-hover;
        color: #fff;
    }
}
.btn-blue {
    background-color: $brand-color;
}

.blue:hover {
    background-color: $brand-color-hover;
}


