<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="styles/fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Push state stuff -->
    <base href="/">
</head>

<body>
    <div id="app"></div>
    <!-- Feel free to replace this with your own GA code -->
    <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossOrigin="anonymous"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css"/>
    <script src="https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js"></script>
</body>

</html>
